#battleArena {
    .bubble {
        position: absolute;
        background: white;
        border: 1px solid black;
        border-radius: 4px;
        width: 180px;
        padding: 10px;
    }
}